<h1>Birthday Cocktails</h1>

<form action="/cocktail">
  <label for="person_field">What is the person's name?</label>

  <input id="person_field" type="text" name="person" placeholder="Enter name..">

  <button>Suprise me!</button>
</form>
