<h1>Birthday cocktails</h1>

<form action="/solutions/results">
  <label for="person_field">What is the birthday baby's name?</label>
  <input id="person_field" name="person">

  <button>Surprise me!</button>
</form>
